@using Microsoft.AspNetCore.Authentication;
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@{ ViewData["Title"] = "Home Page"; }




<div>
    Token expires at:
    <button id="btnTokenExpiresAt">Show</button>
    <label id="lblTokenExpiresAt"></label>
    <script>
    $(document).ready(function () {
        $("#btnTokenExpiresAt").click(function () { 
           $("#lblTokenExpiresAt").text("@await ViewContext.HttpContext.GetTokenAsync("expires_at")");
        })
    })
    </script>
</div>

<dt>identity token</dt>
<dd>@await ViewContext.HttpContext.GetTokenAsync("id_token")</dd>

<dt>access token</dt>
<dd>@await ViewContext.HttpContext.GetTokenAsync("access_token")</dd>

<dt>refresh token</dt>
<dd>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</dd>

<div>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    <div>
        @foreach (var claim in User.Claims)
        {
            <div>
                @if (claim.Type == "picture")
                {
                    <img src="@claim.Value" />
                }
            </div>
        }
    </div>
</div>
