@if (ViewContext.ModelState.IsValid == false)
{
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="alert alert-danger">
            <strong>Error</strong>
            <div asp-validation-summary="All" class="danger"></div>
        </div>
    </div>
</div>
}