@{
    ViewData["Title"] = "Home Page";
}

<div>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    <div>
        @foreach (var claim in User.Claims)
        {
            <div>
                @if (claim.Type == "picture")
                {
                    <img src="@claim.Value" />
                }
            </div>
        }
    </div>
</div>
